
#imgPreviewContainer{
    text-align: center;
}
.imgPreview{
    max-width: 20%;
    max-height: 20%;
}
canvas#viewport { border: 1px solid white; width: 900px; }

#leftMenu ul{
    list-style-type: none;
}
#leftMenu ul li{
    margin: 5px;
}
#leftMenu ul li a{
    color: inherit;
    text-decoration:none;
}
#sidebarTitle{
    padding: 10px;
}
.sidebarLink{
    text-align: left;
    padding-left: 20px;
}
.sidebarIcons{
    font-size: 30px;
    margin: 3px;
}
@media only screen and (max-width: 600px) {

}