@font-face {
    font-family: myFirstFont;
    src: url("../commodore_64/Commodore-Angled-v1.2.ttf");
}

html, body {
    background-color: #005555;
    font-family: Montserrat;

}

#metadataTxsPreview {
    max-height: 200px;
    overflow-y: auto;
}

.metadatasJson pre {
    color: white;
    overflow-x: hidden;
    background-color: #6f6f6f;
    padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.metadatasJson pre::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.metadatasJson pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#selectEndpointGallery select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3) !important;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.title {
    font-family: myFirstFont;
    font-size: 35px;
}

.blackText {
    color: black !important;
}

.whiteText {
    color: white !important;
}

.left {
    background-color: #005555;
}

#imgPreviewContainer {
    margin-top: 1rem;
}

.imgPreview {

}

canvas#viewport {
    border: 1px solid white;
    width: 900px;
}

#leftMenu ul {
    list-style-type: none;
}

#leftMenu ul li {
    margin: 5px;
}

#leftMenu ul li a {
    color: inherit;
    text-decoration: none;
}

#sidebarTitle {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 60px;
}

.sidebarLink {
    text-align: center;
}

.sidebarIcons {
    font-size: 60px;
    margin: 20px;
    color: white;
}

.multiColorTitle {
    background-image: linear-gradient(to left, #DD6168, #ffae19, #e6e600, #198c19, #3883CD, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.onChain {
    color: #38cd38 !important;
}

.signedTx {
    color: #38cdcd !important;
}

#imgToMint {
    border: 10px solid white;
    padding: 5px;
}

#identitySelector * {
    color: black !important;
    background-color: #333333;
}

#base64ContentMeta {
    color: white;
}

@media only screen and (max-width: 600px) {

}